.Header,
.Sidebar {
  display: none;
}

#app .Main {
  margin-top: 0;
  margin-left: 0;
}

hr {
  display: none;
}

.markdown-body {
  h3 {
    font-weight: 500;
    margin: 15px 0 10px;
  }
  h4 {
    font-size: 1em;
    margin: 5px 0;
  }
  p {
    margin: 5px 0;
    line-height: 1.4;
  }
  ul {
    margin: 5px 0;
  }
  blockquote {
    margin: 0;
    padding: 0;
    color: inherit;
    border: none;
    background: none;
  }
  strong {
    font-weight: 400;
  }
}

h4[id="201103"],
h4[id="201009"],
h4[id="200510"] {
  &,
  & + p {
    display: none;
  }
}

h3[id="preview"],
h3[id="作品预览"] {
  &,
  & ~ blockquote {
    display: none;
  }
}


h3[id="patent"],
h3[id="专利"] {
  & ~ blockquote {
    display: block;
    padding: 5px 0;
    p {
      line-height: 1.7;
    }
  }
}
